*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --base-font-size: 1rem;
  --bg-color: #fff;
  --navbar-footer-bg-color: #e0e0e0;
  --navbar-shadow: 0px 0.5rem 16px #0001;
  --top-page-bg-color: #f4f4f4;
  --button-bg-color: #f4f4f4;
  --button-bg-color-hover: #ebebeb;
  --calculator-shadow: 0rem 0.5rem 16px #0003;
  --calculate-button-bg-color: #0c0;
  --calculate-button-bg-color-hover: #0b0;
  --input-bg-color: #f9f9f9;
  --input-border-color: #bbb;
  --kbd-bg-color: #ccc;
  --kbd-border-color: #aaa;
  --kbd-text-color: #222;
  --popup-window-bg-color: #eee;
  --text-color: #000;
}
.dark-mode {
  --bg-color: #222;
  --navbar-footer-bg-color: #333;
  --navbar-shadow: 0rem 0.5rem 16px #0002;
  --top-page-bg-color: #282828;
  --button-bg-color: #222;
  --button-bg-color-hover: #282828;
  --calculator-shadow: 0rem 0.5rem 16px #0006;
  --calculate-button-bg-color: #080;
  --calculate-button-bg-color-hover: #090;
  --input-bg-color: #222;
  --input-border-color: #444;
  --kbd-bg-color: #555;
  --kbd-border-color: #333;
  --kbd-text-color: #eee;
  --popup-window-bg-color: #282828;
  --text-color: #fff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--base-font-size);
  margin: 0px;
  line-height: 1.5;
}
/* Navbar */
.navbar {
  justify-content: start;
  padding: 0.5rem;
  display: flex;
  top: 0;
  position: sticky;
  z-index: 97;
  box-shadow: var(--navbar-shadow);
}
.navbar h1 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0
}
nav {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  gap: 2rem;
}
header {
  display: inline-flex;
}
.navbar, footer {
  background-color: var(--navbar-footer-bg-color);
}
/* Main content and info */
#top-page, th {
  background-color: var(--top-page-bg-color);
}
#top-page {
  padding: 1rem;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  line-height: 1;
  margin-bottom: 0.25em
}
#info {
  margin: 1rem;
  padding: 0.5rem;
  overflow-x: auto;
}
footer {
  padding: 0.5rem;
  text-align: center;
}
/* Calculator */
.calculator--single-input {
  background-color: var(--navbar-footer-bg-color);
  padding: 1em;
  border-radius: 2em;
  width: 32rem;
  box-shadow: var(--calculator-shadow);
  display: block;
}
#calc-desc {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
input[type=text] {
  color: var(--text-color);
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 999px;
  width: 100%;
  border: 0.125rem solid var(--input-border-color);
  background-color: var(--input-bg-color);
}
input::placeholder {
  color: #888;
  opacity: 1;
}
#star-input {
  margin-bottom: 0.25rem;
}
button.calculator-button {
  border-radius: 999px;
  margin-top: 0.5rem;
  flex: 1;
}
button#calculate {
  background-color: var(--calculate-button-bg-color);
}
button#calculate:hover {
  background-color: var(--calculate-button-bg-color-hover);
}
.calculator-button-container {
  display: flex;
  gap: 0.5rem;
}
p#result {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
p#error {
  color: #e00;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
/* Tables */
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--text-color);
  padding: 0.25em;
  text-align: left;
}
/* Buttons and links */
button {
  color: var(--text-color);
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5em;
  border: none;
  background-color: var(--button-bg-color);
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--button-bg-color-hover);
}
button:disabled {
  cursor: not-allowed;
}
button.close-x {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: #888;
  line-height: 1;
  transition: color 0.25s
}
button.close-x:hover {
  color: #aaa;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  width: 3rem;
  cursor: pointer;
}
.hamburger:hover {
  background: none;
}
.section-links {
  color: var(--text-color);
  text-decoration: none;
}
.section-links:hover {
  text-decoration: underline;
}
/* Utility */
.tooltip {
  cursor: help;
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
}
.tooltip-text {
  visibility: hidden;
  font-weight: 500;
  width: fit-content;
  white-space: nowrap;
  line-height: 1.2;
  background: #000d;
  border: 2px solid #003;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.25s;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.popup {
  background-color: var(--popup-window-bg-color);
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.5rem 16px #0006;
}
.hidden {
  display: none !important;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0004;
  z-index: 98;
  backdrop-filter: blur(4px)
}
kbd {
  font-family: inherit;
  display: inline-flex;
  background-color: var(--kbd-bg-color);
  color: var(--kbd-text-color);
  border: 2px solid var(--kbd-border-color);
  box-shadow: 0 1px 0 #0006, inset 0 -1px 0 #0008;
  font-size: 0.8rem;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.25em;
  min-width: 1.8em;
  user-select: none;
  pointer-events: none;
}
/* Mobile Screens (and narrow ones) */
@media (max-width:800px) {
  .navbar.menu-open header {
    display: none;
  }
  nav {
    display: none;
  }
  nav.open {
    display: flex;
    padding: 1.3rem;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 12px;
    right: 16px;
  }
}
@media (max-width:600px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar h1 {
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }
  .navbar header {
    flex: 1;
  }
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    gap: 0.75rem;
  }
  nav a {
    padding: 0.25rem 0;
  }
  nav.open {
    display: flex;
  }
  .hamburger {
    display: block;
    top: 8px;
  }
  #top-page {
    padding: 2rem 1rem;
    flex-direction: column;
    text-align: center;
  }
  #calculator {
    position: absolute;
    top: 25%;
    width: 80%;
    margin: 1rem 0;
  }
  input[type=text], button {
    margin: 0.25rem 0;
  }
  table {
    font-size: 0.9rem;
    display: block;
    overflow-x: auto;
  }
  .popup {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  button.close-x {
    width: 3rem; /* workaround fix for button appearing in center - it's because i'm lazy */
    font-size: 2.25rem;
  }
}